*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
  font-size: 15px;
  user-select: none;   /* standard */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* old IE/Edge */
}
/* Custom scrollbar */
::-webkit-scrollbar {
  width: 5px; 
}
::-webkit-scrollbar-button {
  display: none;
}
::-webkit-scrollbar-track {
  background: #fff;
  border-right: 5px solid transparent;  /* add spacing */
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 5px;
}
